* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Responsive Controls */


/* Google Font */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v4/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v4/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Body */
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    text-align: center;
}
.card-container {
    max-width: 1440px;
    min-width: 375px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 497px;
    border-radius: 20px;

    -webkit-box-shadow: 2px 5px 15px -6px rgba(0,0,0,0.2); 
    box-shadow: 2px 5px 15px -6px rgba(0,0,0,0.2);
}

.qr-code {
    width: 100%;
    padding: 16px 16px 16px 16px;
    border-radius: 8%;
}

.card-text {
    width: 288px;
    height: 129px;
    padding: 8px 16px 40px 16px;
    margin: 0 auto;
}
.card-text h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27.2px;
    color: hsl(218, 44%, 22%);
}
.card-text p {
    font-weight: 400;
    line-height: 18.9px;
    letter-spacing: 0.1875px;
    color: hsl(220, 15%, 55%);
    padding-top: 16px;
}

/* Attribution */
.attribution { 
    font-size: 11px; 
    padding-top: 10px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}